<!DOCTYPE html>
<html>

<body onload="prepare();">    
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
          <button onclick="refreshList()" class="btn btn-primary">Refresh</button>
          <table class="table table-striped" id="ruleList">
            <tr>
                <td>RoomId</td>
                <td>When</td>
            </tr>
          </table>
      </div>
      <div class="span10">
        <div class="form-inline" > 
            <h4><i class="icon-pencil"></i>
                Add a new rule
            </h4>
        </div>
        <div class="form-inline" >        
            <label>Room Number</label>
            <input type="text" id="room">            
        </div>

        <div class="form-inline">        
            <label>When</label>
            <select id="when" class="span2">
                <option value="Enter" >Enter</option>
                <option value="Leave">Leave</option>
                <option value="90s">90s</option>              
            </select>
        </div>        
    
    <div class="span2" style="background-color:#EEE">
        <H5>People</H5>
        <div class="form-inline" >        
            <label>Minor</label>
            <input type="text" id="minor">            
        </div>
        <div class="form-inline" >        
            <label>Delayed</label>
            <input type="text" id="delayed">            
        </div>
        <div class="form-inline" >        
            <label>Immediate</label>
            <input type="text" id="immediate">            
        </div>
        <div class="form-inline" >        
            <label>Dead</label>
            <input type="text" id="dead">            
        </div>
        <div class="form-inline" >        
            <label>Trapped</label>
            <input type="text" id="trapped">            
        </div>
    </div>

    <div class="span2">
        <H5>Hazard</H5>
        <div class="form-inline" >        
            <label>Gas Leak</label>
            <input name="Hazard" type="checkbox" id="gas">            
        </div>
        <div class="form-inline" >        
            <label>Water Leak</label>
            <input name="Hazard" type="checkbox" id="water">            
        </div>
        <div class="form-inline" >        
            <label>Electric</label>
            <input name="Hazard" type="checkbox" id="elec">            
        </div>
        <div class="form-inline" >        
            <label>Chemical</label>
            <input name="Hazard" type="checkbox" id="chem">            
        </div>
    </div>

    <div class="span2" style="background-color:#EEE">
        <H5>Building Damage</H5>        
        <div class="form-inline" >        
            <label>None</label>
            <input name="Building Damage" type="radio" id="bd_none">            
        </div>
        <div class="form-inline" >        
            <label>Light</label>
            <input name="Building Damage" type="radio" id="bd_light">            
        </div>
        <div class="form-inline" >        
            <label>Moderate</label>
            <input name="Building Damage" type="radio" id="bd_moderate">            
        </div>
        <div class="form-inline" >        
            <label>Heavy</label>
            <input name="Building Damage" type="radio" id="bd_heavy">            
        </div>
    </div>

    <div class="span2">
        <H5>Fire</H5>
        <div class="form-inline" >        
            <label>None</label>
            <input name="Fire" type="radio" id="fire_none">            
        </div>
        <div class="form-inline" >        
            <label>Smoke</label>
            <input name="Fire" type="radio" id="fire_smoke">            
        </div>
        <div class="form-inline" >        
            <label>Burning</label>
            <input name="Fire" type="radio" id="fire_burning">            
        </div>
        <div class="form-inline" >        
            <label>Out</label>
            <input name="Fire" type="radio" id="fire_out">            
        </div>
    </div>

    <div class="span3" style="background-color:#EEE">
        <H5>Road Access</H5>
        <div class="form-inline" >        
            <label>Unobstructed</label>
            <input name="Road Access" type="radio" id="unobstructed">            
        </div>
        <div class="form-inline" >        
            <label>One Lane Open</label>
            <input name="Road Access" type="radio" id="oneLane">            
        </div>
        <div class="form-inline" >        
            <label>Blocked, Cycles Only</label>
            <input name="Road Access" type="radio" id="cyclesOnly">            
        </div>
        <div class="form-inline" >        
            <label>Blocked, Walk-in Only</label>
            <input name="Road Access" type="radio" id="walkOnly">            
        </div>
    </div>
    
    <div class="span10">     

        <label>Media Type</label>
        <select id="pMediaType" class="span2">
            <option value="Picture">Picture</option>
            <option value="Video">Video</option>                   
        </select>
        <label>Positive Feedback</label>
        <textarea id="pFeedBack" class="span8"></textarea>

        <label>Media Type</label>
        <select id="nMediaType" class="span2">
            <option value="Picture">Picture</option>
            <option value="Video">Video</option>                   
        </select>
        <label>Negative Feedback</label>
        <textarea id="nFeedBack" class="span8"></textarea>
        <br></br>
        <button onclick="submitRule()" class="btn btn-success">Submit</button>
        <br></br>
    </div>
</div>    
</div>
</div>
</div>

<script src="js/bootstrap-button.js"></script>
<script>
function refreshList() {
    var Rules = Parse.Object.extend("Rules5");
    var query = new Parse.Query(Rules);
    query.exists("RoomId");
    query.find({
      success: function(results) {
        var table = document.getElementById("ruleList");                
        for(var i = table.rows.length - 1; i > 0; i--)
        {
            table.deleteRow(i);
        }       
        for(var i=0; i<results.length; i++){
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");            
            td1.appendChild(document.createTextNode(results[i].get("RoomId")));
            var td2 = document.createElement("td");                        
            td2.appendChild(document.createTextNode(results[i].get("When")));              
            tr.appendChild(td1);
            tr.appendChild(td2);
            table.appendChild(tr);
        }        
    },
    error: function(error) {
        alert("Error: " + error.code + " " + error.message);
    }
});
}
</script>

<script>
function newWin() {
    var new_window = window.open("../damage_assessment/index.html");
}
</script>

<script>
function submitRule() {    
    var Rules = Parse.Object.extend("Rules5");
    var rules = new Rules();
    var roomId = document.getElementById("room").value;

    var when = document.getElementById("when").value;
    var pFeedBack = document.getElementById("pFeedBack").value;
    var nFeedBack = document.getElementById("nFeedBack").value;
    var pMediaType = document.getElementById("pMediaType").value;
    var nMediaType = document.getElementById("nMediaType").value;

    var minor = document.getElementById("minor").value;
    var delayed = document.getElementById("delayed").value;
    var immediate = document.getElementById("immediate").value;
    var dead = document.getElementById("dead").value;
    var trapped = document.getElementById("trapped").value;

    var gas = document.getElementById("gas").checked? "1":"0";
    var water = document.getElementById("water").checked? "1":"0";
    var elec = document.getElementById("elec").checked? "1":"0";
    var chem = document.getElementById("chem").checked? "1":"0";

    var gas = document.getElementById("gas").checked? "1":"0";
    var water = document.getElementById("water").checked? "1":"0";
    var elec = document.getElementById("elec").checked? "1":"0";
    var chem = document.getElementById("chem").checked? "1":"0";

    var buildingDamage = document.getElementById("bd_none").checked? "0":
     document.getElementById("bd_light").checked?"1":
     document.getElementById("bd_moderate").checked?"2":
     document.getElementById("bd_heavy").checked?"3":"null";

     var fire = document.getElementById("fire_none").checked? "0":
     document.getElementById("fire_smoke").checked?"1":
     document.getElementById("fire_burning").checked?"2":
     document.getElementById("fire_out").checked?"3":"null";

     var road = document.getElementById("unobstructed").checked? "0":
     document.getElementById("oneLane").checked?"1":
     document.getElementById("cyclesOnly").checked?"2":
     document.getElementById("walkOnly").checked?"3":"null"; 

    rules.save({
        RoomId:roomId,
        When:when,
        PFeedBack:pFeedBack,
        PMediaType:pMediaType,
        NFeedBack:nFeedBack,
        NMediaType:nMediaType,
        Minor:minor,
        Delayed:delayed,
        Immediate:immediate,
        Dead:dead,
        Trapped:trapped,
        Gas:gas,
        Water:water,
        Elec:elec,
        Chem:chem,
        BuildingDamage:buildingDamage,
        Fire:fire,
        Road:road
    }, {
      success: function(object) {        
        refreshList();
    }
});
}

function prepare() {
    Parse.initialize("euRVQCTiL5zCMmNZaIo1DXm0dCJLY2jFAZYqLvxb", "lHX3IMCqgQqBLXYvDwGkA2yhdV7NC3lZT3YIxCZJ");
    refreshList();
}
</script>
</body>
</html>