<div class="page-header">
	<h1><%= t 'Editing rule'%></h1>
</div>
<%= render 'add_form' %>
<div class="form-actions">
	<%= link_to 'Show', @rule, :class => 'btn' %> |
	<%= link_to 'Back', rules_path, :class => 'btn' %>
</div>